*{
    margin: 0;
    padding: 0;
    border:border-box;
}
.main-container{
    margin: 100px auto;
    width: 95%;
    height: 600px;
    /* border: 2px solid; */
}
.indiv{
    
    width: 100%;
    height: 47%;
    margin: 8px auto;
    /* border: 2px solid; */
}
.child{
    position: relative;
    display: inline-block;
    height: 100%; 
    width: 23%;
    margin-left: 10px;
    /* border: 2px solid green; */
}
.child1{
    margin-left: 40px;

}
.kid{
    position: relative;
    display: inline-block;
    height: 100%;
    width: 23%;
    margin-left: 10px;
    /* border: 2px solid green; */
}
.kid1{
    margin-left: 40px;
}
img{
    
    width: 100%;
    height: 100%;
}
h3{
    position: absolute;
    top: 0px;
    padding: 10px;
    background-color: black;
    color: white;
}